<h1>Books</h1>
<table>
  <tr>
    <th>title</th>
    <th>body</th>
  </tr>
  <tr>
    <% @books.each do |book| %>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td><%= link_to 'Show', "/books/#{book.id}" %></td>
      <td><%= link_to 'Edit', books_path %></td>
      <td><%= link_to 'Destroy', books_path %></td>
    <% end %>
  </tr>
</table>
