<h1>Books</h1>
<table>
  <tr>
    <th>title</th>
    <th>body</th>
  </tr>
  <tr>
    <% @book.each do |book| %>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td><%= link_to 'Show', show_book_url(book.id) %></td>
      <td><%= link_to 'Edit', edit_book_url(book.id) %></td>
      <td><%= link_to 'Destroy', destroy_book_url(book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
    <% end %>
  </tr>
</table>
